.calculator { width: 300px; margin: auto; background: #222; padding: 20px; border-radius: 10px; }

#screen { 
  width: 100%; height: 60px; font-size: 30px; margin-bottom: 10px; 
  text-align: right; padding-right: 10px; box-sizing: border-box;
}

.grid { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 8px; 
}

button { padding: 20px; font-size: 20px; cursor: pointer; border: none; }
button:hover { background: #ccc; }
